<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<div class="tech-btm">
    <p>Teknoloji, yazılım ve diğer bloglar...</p>
    <form id="subscribeForm">
        <input id="EmailID" type="email" placeholder="Mail" required="" name="Mail">
        <input type="submit" value="Abone Ol">
    </form>
</div>
<script type="text/javascript">
    $('#subscribeForm').on('submit', function (e) {
        e.preventDefault();
        e.stopPropagation();

        var data = $("#subscribeForm").serialize();
        $.ajax({
            type: 'POST',
            url: '/NewsLetter/SubscribeMail',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            data: data,
            success: function (result) {
                $('#EmailID').val('');
                swal("Mail bültenine abone oldunuz.","Kaydettiğiniz mail adresinize yeni bloglarımız ile ilgili bilgilendirme mailleri göndereceğiz.");
            },
            error: function () {
            }
        })

    });
</script>